# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Logs
*.log

# IDE
.vscode/
.idea/

# Docker
*.tar
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Logs
*.log

# IDE
.vscode/
.idea/

# Docker
*.tar
